.landing-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .landing-bkg {
    position: fixed;
    background: url("../assets/img/main/landing-bkg-xsmall-mobile.png") no-repeat top center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;

    @media only screen and (min-width: 450px) {
      background: url("../assets/img/main/landing-bkg-medium-mobile.png") no-repeat top center / cover;
    }

    @media only screen and (min-width: 550px) {
      background: url("../assets/img/main/landing-bkg-tablet.png") no-repeat top center / cover;
    }

    @media only screen and (min-width: 800px) {
      background: url("../assets/img/main/landing-bkg-tablet-landscape.png") no-repeat top center / cover;
    }

    @media only screen and (min-width: 1200px) {
      background: url("../assets/img/main/landing-bkg-medium-desktop.png") no-repeat top center / cover;
    }

    @media only screen and (min-width: 1400px) {
      background: url("../assets/img/main/landing-bkg-desktop.png") no-repeat top center / cover;
    }
  }

  .landing-container,
  .subtitle-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: "Gotham-Bold";
    font-size: 60px;

    @media only screen and (min-width: 350px) {
      font-size: 68px;
    }

    @media only screen and (min-width: 550px) {
      font-size: 72px;
    }

    @media only screen and (min-width: 700px) {
      font-size: 80px;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 90px;
    }

    @media only screen and (min-width: 1400px) {
      font-size: 115px;
    }
  }

  .divider {
    background: black;
    margin: 10px 0 20px 0;
    height: 2.5px;
    width: 50px;

    @media only screen and (min-width: 1200px) {
      margin: 20px 0 30px 0;
    }

    @media only screen and (min-width: 1400px) {
      margin: 25px 0 40px 0;
      height: 3px;
    }
  }

  .subtitle {
    font-family: "Gotham-Book";
    font-size: 22px;

    @media only screen and (min-width: 700px) {
      font-size: 26px;
    }

    @media only screen and (min-width: 900px) {
      font-size: 28px;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 30px;
    }

    @media only screen and (min-width: 1400px) {
      font-size: 34px;
    }
  }
}