.jouve-wrap {
  .banner {
    background: url("../../assets/img/work/jouve/jouve-banner.jpg") no-repeat top center / cover;

    @media only screen and (min-width: 900px) {
      background-position: center right;
    }
  }

  .title {
    font-size: 90px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vid-sect {
    @media only screen and (min-width: 900px) {
      position: relative;
      height: 600px;
      margin: 100px 0;
      padding: 50px 0;
      margin: 0 0 100px 0;
    }
  }

  .celeb-vid {
    width: 270px !important;

    @media only screen and (min-width: 900px) {
      margin-top: 34px !important;
      width: 750px !important;
    }

    @media only screen and (min-width: 1200px) {
      width: 840px !important;
    }
  }
}