.jouve-wrap {
  .banner {
    background: url("../../assets/img/work/jouve/jouve-banner.jpg") no-repeat top center / cover;

    @media only screen and (min-width: 900px) {
      background-position: center right;
    }
  }

  .title {
    font-size: 90px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .celeb-sect {
    margin-bottom: 50px;
  }

  .celeb-gif {
    width: 270px !important;
  }
}