.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 50px solid #49CFDA;
  border-bottom: 50px solid #49CFDA;
  padding: 100px 0;

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;

    @media only screen and (min-width: 900px) {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 50px;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 900px) {
      // justify-content: space-evenly;
      // align-items: flex-start;
    }
  }

  .col-1 {
    @media only screen and (min-width: 900px) {
      max-width: 50%;
      border-right: 3px solid #F8D241;
      margin-right: 50px;
    }
  }

  .col-2 {
    @media only screen and (min-width: 900px) {
      max-width: 50%;
    }
  }

  .hdr {
    text-align: center;
    font-size: 60px;
    letter-spacing: 15px;
    margin-bottom: 30px;
    width: 100%;

    @media only screen and (min-width: 900px) {
      font-size: 80px;
    }
  }

  .para {
    text-align: center;
    line-height: 25px;
  }

  .divider {
    background: #F8D241;
    margin: 60px 0;
    height: 3px;
    width: 100%;

    @media only screen and (min-width: 900px) {
      display: none;
    }
  }

  .btn {
    cursor: pointer;
    background: #FA4D85;
    border: none;
    padding: 20px 30px;
    transition: .15s ease-in-out;

    &:hover {
      background: rgb(255, 48, 114);

    }

    @media only screen and (min-width: 900px) {
      margin-top: 30px;
    }
  }

  .btn-txt {
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
  }
}