.enroll-wrap {

  .banner {
    background: url("../../assets/img/work/enrollment/enrollment-banner.png") no-repeat top center / cover;
  }

  .title {
    font-size: 50px;
  }

  .project-details {
    @media only screen and (min-width: 900px) {
      margin-top: 50px;
    }
  }

  .enroll-desktop-overlay {

    @media only screen and (max-width: 374px) {
      margin-top: -8px;
      height: 220px !important;
    }

    @media only screen and (min-width: 375px) {
      margin-top: -10px;
      height: 250px !important;
    }

    @media only screen and (min-width: 400px) {
      height: 278px !important;
    }

    @media only screen and (min-width: 475px) {
      height: 330px !important;
    }

    @media only screen and (min-width: 600px) {
      height: 330px !important;
    }
  }

  .enroll-gif {
    
    @media only screen and (min-width: 400px) {
      height: 205px !important;
      transform: translateY(-8px);
    }

    @media only screen and (min-width: 475px) {
      height: 245px !important;
      transform: translateY(-7px);
    }
  }

  .first-sect {
    @media only screen and (min-width: 900px) {
      margin-top: 475px;
    }
  }

  .screenshot-sect {
    margin-top: 50px;

    @media only screen and (min-width: 900px) {
      margin-top: 125px;
    }
  }
}