.enroll-wrap {

  .banner {
    background: url("../../assets/img/work/enrollment/enrollment-banner.png") no-repeat top center / cover;
  }

  .title {
    @media only screen and (max-width: 650px) {
      font-size: 12vw;
    }

    font-size: 75px;
  }


  .screenshot-sect {
    margin-top: 50px;

    @media only screen and (min-width: 650px) {
      margin-top: 100px;
    }
  }

  .enroll-desktop-overlay {
    height: 71vw !important;

    @media only screen and (min-width: 1200px) {
      height: 590px !important;
    }
  }

  .mobile-enroll-desktop-overlay {
    height: 69.5vw !important;
    width: 98% !important;

  }

  .enroll-gif {
    height: 68% !important;
    width: 91% !important;
  }

  .customize-modal {
    @media only screen and (min-width: 650px) {
      margin-bottom: 20px;
    }
  }
}