.diamonds-wrap {
  padding-bottom: 75px;

  .banner {
    background: url("../../assets/img/work/diamonds/ariix-style.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/diamonds/about-banner-bkg.jpg") no-repeat top center / cover;
  }

  .title {
    font-size: 50px;
    color: black;
  }

  .project-details {
    padding: 10px 30px !important;
  }

  .section {
    margin-top: 50px;

    @media only screen and (min-width: 900px) {
      margin-top: 100px;
    }
  }

  .mobile-slider-wrap {
    margin-top: -30px;
  }

  .below-vid-sect {
    margin-top: 25px;

    @media only screen and (min-width: 650px) {
      margin-top: 50px;
    }

    @media only screen and (min-width: 900px) {
      margin-top: 175px;
    }

    @media only screen and (min-width: 1200px) {
      margin-top: 250px;
    }
  }

  .diamonds-gif {
    @media only screen and (max-width: 899px) {
      width: 258px;
      height: 175px;
      transform: translateY(-5px);
      z-index: -1;
    }
  }
}