.diamonds-wrap {
  padding-bottom: 75px;

  .banner {
    background: url("../../assets/img/work/diamonds/ariix-style.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/diamonds/about-banner-bkg.jpg") no-repeat top center / cover;
  }

  .title {
    font-size: 60px;
    color: black;
  }

  .project-details {
    padding: 10px 30px !important;
  }

  .dmd-desktop-overlay {
    z-index: 9;

    @media only screen and (max-width: 374px) {
      height: 225px !important;
    }

    @media only screen and (min-width: 375px) {
      top: -3px !important;
      height: 250px !important;
    }

    @media only screen and (min-width: 400px) {
      top: -4px !important;
      height: 275px !important;
    }

    @media only screen and (min-width: 475px) {
      top: -6px !important;
      height: 330px !important;
    }

    @media only screen and (min-width: 600px) {
      height: 420px !important;
    }

    @media only screen and (min-width: 768px) {
      height: 560px !important;
    }

    @media only screen and (min-width: 900px) {
      height: 660px !important;
      width: 812px;
    }

    @media only screen and (min-width: 1200px) {
      top: -8px !important;
      height: 715px !important;
      width: 900px !important;
    }
  }

  .dmd-gif {
    @media only screen and (max-width: 374px) {
      height: 155px !important;
      transform: translateY(7px);
      min-width: 280px;
    }

    @media only screen and (min-width: 375px) {
      height: 175px !important;
      min-width: 300px;
      transform: translateY(5px);
    }

    @media only screen and (min-width: 400px) {
      height: 200px !important;
      transform: translateY(2px);
    }

    @media only screen and (min-width: 475px) {
      height: 250px !important;
      transform: translateY(-5px);
    }

    @media only screen and (min-width: 600px) {
      height: 300px !important;
      transform: translateY(8px);
    }

    @media only screen and (min-width: 768px) {
      height: 400px !important;
      transform: translateY(12px);
    }

    @media only screen and (min-width: 900px) {
      height: 500px !important;
      transform: translateY(0px);
    }

    @media only screen and (min-width: 1200px) {
      transform: translateY(22px);
    }
  }

  .dmd-gif-2 {
    @media only screen and (max-width: 374px) {
      height: 175px !important;
      transform: translateY(0px) !important;
      min-width: 250px !important;
    }

    @media only screen and (min-width: 375px) {
      height: 200px !important;
      transform: translateY(-5px) !important;
      min-width: 275px !important;
    }

    @media only screen and (min-width: 400px) {
      height: 225px !important;
      transform: translateY(-5px) !important;
      min-width: 293px !important;
    }

    @media only screen and (min-width: 475px) {
      height: 250px !important;
      transform: translateY(0px) !important;
      min-width: 320px !important;
    }

    @media only screen and (min-width: 600px) {
      height: 320px !important;
      transform: translateY(8px) !important;
      min-width: 520px !important;
    }

    @media only screen and (min-width: 768px) {
      height: 450px !important;
      transform: translateY(-3px) !important;
      min-width: 600px !important;
    }

    @media only screen and (min-width: 900px) {
      height: 500px !important;
      transform: translateY(7px) !important;
      min-width: 600px !important;
    }

    @media only screen and (min-width: 1200px) {
      height: 530px !important;
      transform: translateY(10px) !important;
      min-width: 600px !important;
    }
  }

  .vid {
    @media only screen and (min-width: 375px) {
      transform: translateY(-1px);
    }

    @media only screen and (min-width: 475px) and (max-width: 767px) {
      transform: translateY(-2px);
    }

    @media only screen and (min-width: 600px) and (max-width: 767px) {
      width: 496px !important;
    }

    @media only screen and (min-width: 768px) and (max-width: 899px) {
      width: 654px !important;
    }
  }

  .section {
    margin-top: 50px;

    @media only screen and (min-width: 900px) {
      margin-top: 100px;
    }
  }

  .mobile-slider-wrap {
    margin-top: -30px;
  }

  .below-vid-sect {
    margin-top: 40px;

    @media only screen and (min-width: 768px) {
      margin-top: 50px;
    }

    @media only screen and (min-width: 900px) {
      margin-top: 225px;
    }
  }
}