.diamonds-wrap {
  padding-bottom: 75px;
  .banner {
    background: url("../../assets/img/work/diamonds/ariix-style.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/diamonds/about-banner-bkg.jpg") no-repeat top center / cover;
  }

  .title {
    font-size: 60px;
    color: black;
  }

  .project-details {
    padding: 10px 30px !important;
  }

  .desktop-overlay {
    top: -1.5px !important;
    // top: 0;
    height: 220px !important;
    width: 279px !important;

    @media only screen and (min-width: 900px) {
      top: -5px !important;
      height: 650px !important;
      width: 812px !important;
    }

    @media only screen and (min-width: 1200px) {
      top: -8px !important;
      height: 715px !important;
      width: 900px !important;
    }
  }

  .section {
    margin-top: 50px;
     @media only screen and (min-width: 900px) {
       margin-top: 100px;
     }
  }

  .mobile-slider-wrap {
    margin-top: -30px;
  }

  .below-vid-sect {
      margin-top: 25px;

      @media only screen and (min-width: 900px) {
      margin-top: 500px;
    }
  }
}