.slenderiiz-wrap {
  .banner {
    background: url("../../assets/img/work/slenderiiz/slenderiiz-banner.jpg") no-repeat top center / cover;
  }

  .title {
    font-size: 40px;
  }

   .mobile-monitor-view {
     margin: 10px 0 55px 0;
     width: 100%;
   }
}