.slenderiiz-wrap {
  margin-bottom: 50px;

  .banner {
    background: url("../../assets/img/work/slenderiiz/slenderiiz-banner.jpg") no-repeat top center / cover;
  }

  .title {
    @media only screen and (max-width: 500px) {
      font-size: 15vw;
    }

    font-size: 65px;

    @media only screen and (min-width: 768px) {
      font-size: 90px;
    }
  }

  .mobile-monitor-view {
    margin: 10px 0 55px 0;
    width: 100%;
  }

  .mobile-slider-wrap {
    @media only screen and (min-width: 900px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

.second-slen-vid {
  margin-bottom: 50px;
}