.fond {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 100vw;
}

.contener_general {
  -webkit-animation: animball_two 1s infinite;
  -moz-animation: animball_two 1s infinite;
  -ms-animation: animball_two 1s infinite;
  animation: animball_two 1s infinite;
  width: 44px;
  height: 44px;
}

.contener_mixte {
  width: 44px;
  height: 44px;
  position: absolute;
}

.ballcolor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ball_1,
.ball_2,
.ball_3,
.ball_4 {
  position: absolute;
  -webkit-animation: animball_one 1s infinite ease;
  -moz-animation: animball_one 1s infinite ease;
  -ms-animation: animball_one 1s infinite ease;
  animation: animball_one 1s infinite ease;
}

.ball_1 {
  background-color: #49CFDA;
  top: 0;
  left: 0;
}

.ball_2 {
  background-color: #F8D241;
  top: 0;
  left: 24px;
}

.ball_3 {
  background-color: #CBCCCE;
  top: 24px;
  left: 0;
}

.ball_4 {
  background-color: #FA4D85;
  top: 24px;
  left: 24px;
}

@-webkit-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-moz-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-ms-keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@keyframes animball_one {
  0% {
    position: absolute;
  }

  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5;
  }

  100% {
    position: absolute;
  }
}

@-webkit-keyframes animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }

  50% {
    -webkit-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -webkit-transform: rotate(720deg) scale(1);
  }
}

@-moz-keyframes animball_two {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }

  50% {
    -moz-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -moz-transform: rotate(720deg) scale(1);
  }
}

@-ms-keyframes animball_two {
  0% {
    -ms-transform: rotate(0deg) scale(1);
  }

  50% {
    -ms-transform: rotate(360deg) scale(1.3);
  }

  100% {
    -ms-transform: rotate(720deg) scale(1);
  }
}

@keyframes animball_two {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(1.3);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}









// .loading-bkg {
//   z-index: 1;
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   width: 100%;
//   background: white;
// }

// .load-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: white;
//   // padding-bottom: 47vw;
//   // height: 47vw;
//   // width: 100%;
// }

// .loading-wrap {
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 0;
//   right: 0;
//   height: 100vh;
//   width: 100%;
//   background-color: rgba(245, 245, 245, 0.7);
//   z-index: 999999999999;
// }

// .loading-ring {
//   z-index: 999;
//   display: inline-block;
//   position: relative;
//   width: 80px;
//   height: 80px;
// }

// .loading-ring div {
//   box-sizing: border-box;
//   display: block;
//   position: absolute;
//   width: 64px;
//   height: 64px;
//   margin: 8px;
//   border: 8px solid #FA4D85;
//   border-radius: 50%;
//   animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   border-color: #FA4D85 transparent transparent transparent;
// }

// .loading-ring div:nth-child(1) {
//   animation-delay: -0.45s;
// }

// .loading-ring div:nth-child(2) {
//   animation-delay: -0.3s;
// }

// .loading-ring div:nth-child(3) {
//   animation-delay: -0.15s;
// }

// @keyframes loading-ring {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }