.work-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      height: 650px;
      max-width: 1200px;
    }
  }

  .slenderiiz,
  .enrollment,
  .travel {
    flex-direction: column-reverse;

  }

  .txt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;

    @media only screen and (min-width: 1200px) {
      display: flex;
      height: 500px;
      width: 80%;
    }
  }

  .txt-container {
    margin: 0 15px;
  }

  .hdr {
    font-size: 30px;
    padding-bottom: 10px;

    @media only screen and (max-width: 1199px) {
      border-bottom: none !important;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 50px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .para {
    font-size: 16px;
    padding-bottom: 10px;

    @media only screen and (min-width: 1200px) {
      font-size: 16px;
      letter-spacing: 0.75px;
      line-height: 1.5;
    }

  }

  .tech {
    font-style: italic;
    font-size: 14px;

    @media only screen and (min-width: 1200px) {
      padding-top: 20px;
    }
  }

  .project-img {
    cursor: pointer;
    transition: .25s ease-in-out;
    height: 320px;
    width: auto;

    &:hover {
      transform: scale(1.1);
    }

    @media only screen and (min-width: 1200px) {
      height: 550px;
    }
  }

}

.right {
  .project-img {

    @media only screen and (min-width: 1200px) {
      transform: unset;
    }
  }
}

.left {
  .project-img {

    @media only screen and (min-width: 1200px) {
      transform: unset;
    }
  }
}

.slenderiiz {
  background: url("../assets/img/graphics/yellow-square-outlined.png") no-repeat top right;
  background: url("../assets/img/graphics/yellow-square-outlined.png") no-repeat top right fixed;
  background-size: cover;

  .hdr {
    border-bottom: 1px solid #F8D241;
  }
}

.diamonds {
  background: url("../assets/img/graphics/blue-circle-large.png") no-repeat top left fixed;
  background-size: cover;

  .hdr {
    border-bottom: 1px solid #49CFDA;
  }
}

.enrollment {
  background: url("../assets/img/graphics/gray-dots-xl.png") no-repeat top right fixed;
  background-size: cover;

  .hdr {
    border-bottom: 1px solid #CBCCCE;
  }
}

.jouve {
  background: url("../assets/img/graphics/pink-square-outlined.png") no-repeat top left fixed;
  background-size: cover;

  .hdr {
    border-bottom: 1px solid #FA4D85;
  }
}

.travel {
  background: url("../assets/img/graphics/yellow-circle-large.png") no-repeat top right fixed;
  background-size: cover;

  .hdr {
    border-bottom: 1px solid #F8D241;
  }
}