.travel-wrap {
  height: 100%;

  .banner {
    background: url("../../assets/img/work/travel/travel-binoculars.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/travel/hero_3.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/travel/feature.jpg") no-repeat top center / cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;

  }

  .project-details {
    @media only screen and (min-width: 900px) {
      margin-top: 50px;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .travel-slider-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0 25px 0;
    height: 250px;
    width: 100%;

    .travel-slider {
      margin-top: 12px;
      width: 270px;
    }
  }

  .travel-desktop-overlay {
    position: absolute;
    top: 3px;
    top: 0;
    width: 280px;

    // @media only screen and (min-width: 410px) and (max-width: 474px) {
    //   height: 260px !important;
    //   width: 350px !important;
    // }

    // @media only screen and (min-width: 475px) and (max-width: 499px) {
    //   margin-top: -8px;
    //   height: 295px !important;
    //   width: 415px;
    // }
  }

  .gif {
    margin-top: 4px !important;
    z-index: -1;

    // @media only screen and (min-width: 410px) and (max-width: 474px) {
    //   margin-top: -40px !important;
    //   height: 285px !important;
    //   width: 330px !important;
    //   transform: translateX(1.5px);
    // }

    // @media only screen and (min-width: 475px) and (max-width: 499px) {
    //   margin-top: -40px !important;
    //   height: 301px !important;
    //   width: 384px !important;
    //   transform: translateX(1px);
    // }

    @media only screen and (min-width: 500px) and (max-width: 649px) {
      transform: translateY(-18px);
    }
     @media only screen and (min-width: 650px) and (max-width: 749px) {
       transform: translate(1px, 20px);
     }

      @media only screen and (min-width: 750px) and (max-width: 899px) {
      height: 342px !important;
      transform: translate(0px, 25px);
      }

      @media only screen and (min-width: 1200px) {
      height: 443px;
      transform: translate(1px, 25px);
      }
  }

  .travel-desktop-view {
    margin: 15px 0 60px 0;
    width: 100%;
  }

  // .sect-below-vid {
  //   @media only screen and (min-width: 900px) {
  //     margin-top: 440px;
  //   }

  //    @media only screen and (min-width: 1200px) {
  //      margin-top: 500px;
  //    }
  // }
}