.travel-wrap {
  height: 100%;

  .banner {
    background: url("../../assets/img/work/travel/travel-binoculars.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/travel/hero_3.jpg") no-repeat top center / cover;
    background: url("../../assets/img/work/travel/feature.jpg") no-repeat top center / cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;

  }

  .project-details {
    @media only screen and (min-width: 900px) {
      margin-top: 50px;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .travel-slider-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0 25px 0;
    height: 250px;
    width: 100%;

    .desktop-overlay {
      position: absolute;
      top: 3px;
      top: 0;
      width: 280px;
    }

    .travel-slider {
      margin-top: 12px;
      width: 270px;
    }
  }

  .travel-desktop-view {
    margin: 15px 0 60px 0;
    width: 100%;
  }

  .sect-below-vid {
    @media only screen and (min-width: 900px) {
      margin-top: 440px;
    }

     @media only screen and (min-width: 1200px) {
       margin-top: 500px;
     }
  }
}