*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-x: hidden;
  // overflow: scroll;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("./assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("./assets/fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("./assets/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./assets/fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "Gibson";
  src: url("./assets/fonts/Gibson.ttf");
}

@font-face {
  font-family: "Gibson-Bold";
  src: url("./assets/fonts/Gibson-Bold.ttf");
}

@font-face {
  font-family: "Gibson-Semibold";
  src: url("./assets/fonts/Gibson-Semibold.ttf");
}

@font-face {
  font-family: "Gibson";
  src: url("./assets/fonts/Gibson.ttf");
}

@font-face {
  font-family: "Gibson-Light";
  src: url("./assets/fonts/Gibson-Light.ttf");
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.app-wrap {
  width: 100vw;
  overflow-x: hidden;
}

.hide {
  display: none;
}

.loading-wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  z-index: 999999999999;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #CBCCCE;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #CBCCCE transparent transparent transparent;
}

.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hdr {
  font-family: "Gotham-Bold";
}

.para {
  font-family: "Gotham-Book";
  line-height: 20px;
}

.mobile {
  @media only screen and (min-width: 900px) {
    display: none !important;
  }
}

.desktop {
  @media only screen and (max-width: 899px) {
    display: none !important;
  }
}

.project-wrap {

  @media only screen and (min-width: 900px) {
    margin-bottom: 50px;
  }

  .project-details {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
  }

  .section {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
  }

  .title {
    font-family: "Gotham-Bold";
    color: white;
    font-size: 60px;
  }

  .mobile-monitor-view {
    margin: 15px 0 60px 0;
    height: auto;
    width: 100%;
  }

  .fullpage {
    border: 2px solid #CBCCCE;
    height: auto;
    width: 100%;
    max-width: 900px;
  }

  .mobile-slider-wrap {
    height: auto;
    width: 100%;
    max-width: 500px;

    @media only screen and (min-width: 900px) {
      margin-top: 40px;
    }
  }

  .mobile-slider-container {
    margin-bottom: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .slick-slider {
    height: auto;
    max-width: 500px;
  }

  .mobile-framed {
    margin: 65px 0 20px 0;
    height: auto;
    width: 75%;
    max-width: 400px;
  }

  .chevron {
    height: 100px;
  }

  .slick-next,
  .slick-prev {
    padding: 20px;
    width: 35px;
    height: 35px;
    opacity: 30%;

    @media only screen and (min-width: 500px) {
      padding: 20px;
      width: 50px;
      height: 50px;
    }

    @media only screen and (min-width: 768px) {
      padding: 0;
      width: 60px;
      height: 60px;
    }
  }
}






.vid-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 250px;
  width: 100%;

  // @media only screen and (min-width: 410px) {
  //   margin-bottom: 60px;
  // }

  // @media only screen and (min-width: 475px) {
  //   margin-top: 20px;
  //   margin-bottom: 100px;
  // }

  @media only screen and (min-width: 500px) {
    margin-top: 50px;
    margin-bottom: 180px;
  }

  @media only screen and (min-width: 650px) {
    margin-top: 50px;
    margin-bottom: 250px;
  }

  @media only screen and (min-width: 750px) {
    margin-top: 50px;
    margin-bottom: 350px;
  }

  .desktop-overlay {
    position: absolute;
    top: 3px;
    top: 0;
    height: 212px;
    width: 280px;

    // @media only screen and (min-width: 410px) and (max-width: 474px) {
    //   height: 250px !important;
    //   width: 355px !important;
    // }

    // @media only screen and (min-width: 475px) and (max-width: 499px) {
    //   height: 290px !important;
    //   width: 415px;
    // }

    @media only screen and (min-width: 500px) {
      height: 339px;
      width: 445px;
    }

    @media only screen and (min-width: 650px) {
      height: 448px;
      width: 590px;
    }

    @media only screen and (min-width: 750px) {
      height: 530px;
      width: 695px;
    }

    @media only screen and (min-width: 900px) {
      height: 615px;
      width: 812px;
    }

    @media only screen and (min-width: 1200px) {
      height: 677px;
      width: 900px;
    }
  }

  .vid {
    margin-top: 10px;
    width: 258px;
    z-index: -1;

    // @media only screen and (min-width: 410px) and (max-width: 474px) {
    //   margin-top: 12px;
    //   width: 326px;
    // }

    // @media only screen and (min-width: 475px) and (max-width: 499px) {
    //   margin-top: 12px;
    //   width: 382px;
    // }

    @media only screen and (min-width: 500px) {
      margin-top: 17px;
      width: 412px;
    }

    @media only screen and (min-width: 650px) {
      margin-top: 25px;
      width: 543px;
    }

    @media only screen and (min-width: 750px) {
      margin-top: 30px;
      width: 642px;
    }

    @media only screen and (min-width: 900px) {
      margin-top: 30px;
      width: 750px;
    }

    @media only screen and (min-width: 1200px) {
      width: 830px;
    }
  }
}

.gif {
  margin-top: 10px !important;
  z-index: -1;

  // @media only screen and (min-width: 410px) {
  //   margin-top: -45px !important;
  //   height: 284px;
  //   width: 445px;
  // }

  // @media only screen and (min-width: 475px) {
  //   margin-top: -36px !important;
  //   height: 301px;
  //   width: 445px;
  // }

  @media only screen and (min-width: 500px) {
    margin-top: -14px !important;
    height: 283px;
  }

  @media only screen and (min-width: 650px) {
    margin-top: 25px !important;
    height: 290px;
  }

  @media only screen and (min-width: 750px) {
    margin-top: 30px !important;
    height: 340px;
  }

  @media only screen and (min-width: 900px) {
    margin-top: 6px !important;
    height: 441px;
  }

  @media only screen and (min-width: 1200px) {
    margin-top: 30px !important;
    height: 441px;
  }
}

video::-webkit-media-controls {
  display: none !important;
}